body {
    max-width: 80vw;
    padding: 10px;
    justify-content: center;
    margin: auto;
}
.header {
    margin: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;

}
